<h3>Welcome</h3>

<p>Welcome to TaskSnail, an AJAXified Rails App by CodeDiode.io</p>

<p>Learn how to build this app from scratch in 3 lessons</p>

<ul>
  <li><%= link_to "Devise Gradual Engagement", "http://codediode.io/lessons/364-gradual-engagement-with-rails-and-devise" %></li>
  <li><%= link_to "AJAXify a Rails App", "http://codediode.io/lessons/1904-ajaxified-one-page-application-with-rails" %></li>
  <li><%= link_to "Frontend Magic with Zurb Foundation & Rails", "http://codediode.io/lessons/8027-zurb-foundation-rails" %></li>
</ul>

<% if @user.soft_user? %>

<h3>Completed Tasks</h3>
<div class='completed-tasks'>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @tasks.completed.each do |task| %>
  <%= render task %>
  <% end %>
  </ul>
</div>

<hr />

<h3>Incomplete Tasks</h3>
<div class="my-tasks">
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @tasks.where(completed: nil).each do |task| %>
  <%= render task %>
  <% end %>
  </ul>
</div>

<% unless current_user.needs_engagement? %>
<div class="new-task-form"></div>
<%= link_to "New Task", new_task_path, remote: true, class: "new-task-button button radius" %>

<% else %>

<h4>Registration Required to Add More Tasks!</h4>

<% end %>

<% else %>

<h3>Completed Tasks</h3>
<div class='completed-tasks'>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @tasks.where(completed: true).each do |task| %>
  <%= render task %>
  <% end %>
</ul>
</div>

<hr />

<h3>Incomplete Tasks</h3>
<div class="my-tasks">
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @tasks.where(completed: nil).each do |task| %>
  <%= render task %>
  <% end %>
  </ul>
</div>

<div class="new-task-form"></div>
<%= link_to "New Task", new_task_path, remote: true, class: "new-task-button button radius" %>
<% end %>

<% if current_user.soft_user? %>
<p><%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Login", new_user_session_path %></p>
<% else %>

<p><%= link_to "Edit Profile", edit_user_registration_path %> or <%= link_to "Logout", destroy_user_session_path, method: :delete %></p>

<% end %>
